db.sqlite3
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
# If you collect static with collectstatic
/static/

# Django secret settings
.env
*.env
.env.*

# VSCode
.vscode/
*.code-workspace

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Pytest
.pytest_cache/
.pytest_cache/*

# MyPy
.mypy_cache/

# Coverage
.coverage
htmlcov/
.coverage.*
.cache

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
logs/
*.log

# Temporary files
tmp/
*.tmp
*.swp
*.swo
